ul{
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        display: flex;
        padding: 0;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 0.6rem;
        }
        li:nth-child(1){
            color: #448AFF;
        }
        li:nth-child(2){
            color: #673AB7;
        }
        li:nth-child(3){
            color:#43A047;
        }
        li:nth-child(4){
            color:#424242
        }
        li div{
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li:hover{
            color: rgba(50,50,50,.85);
        }
        li div:hover{
            background: rgba(150,150,150,.5);
            border-radius: 50%;
            color: rgba(50,50,50,.85);
        }

    // Hovers
    // li:nth-child(1) div:hover,
    // li:nth-child(1) div.active{
    //     background: #448AFF;
    //     color: #FFF;
    // }
    // li:nth-child(2) div:hover,
    // li:nth-child(2) div.active{
    //     background: #673AB7;
    //     color: #FFF;
    // }
    // li:nth-child(3) div:hover,
    // li:nth-child(3) div.active{
    //     background: #43A047;
    //     color: #fff;
    // }
    // li:nth-child(4) div:hover,
    // li:nth-child(4) div.active{
    //     background: #424242;
    //     color: #FFF;
    // }
    }